.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(200px);
    height: rem(70px);
    background-color: $firstColor;
    border-radius: 18px;
    font-size: rem(18px);
    color: #fff;
    padding: 5px;

    &:hover {
        background-color: #fff;
        color: $firstColor;
        border: 0.5px solid $firstColor;

    }

    &__name {
        margin-right: rem(15px);
    }
}



.button_light {
    background: #fff;
    color: $firstColor;
    border: 0.5px solid $firstColor;

    &:hover {
        background: $firstColor;
        color: #fff;
    }

}

.join_button {
    background: $secondaryColor;
    color: #fff;

    &:hover {
        border: 0.5px solid $firstColor;
        background: #fff;
        color: $firstColor;

    }
}

// .button__img {
//     @include phones {
//         width: 20px;
//         // height: 
//     }
// }