.footer {
    width: 100%;
    height: rem(87px);
    background: #fff;
    border-top: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(16px);
}
.footer__content-author{
    color: $secondaryColor;
}