#call-popup__content {
  // display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

#call-popup__content {
  display: block;
}

.call-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.5);
  transition: all 0.5s ease;
  display: none;
  z-index: 1;
}

.call-popup_open {
  display: block;
}

.call-popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  max-width: rem(500px);
  width: 100%;
}

.call-popup__wrapper {
  padding: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.call-popup__name {
  text-align: center;
  margin-bottom: rem(15px);

}