.intro__content {
  height: auto;
  background: url('../images/main/intro7.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 210px 0;
  padding: rem(25px) 0;

  @include phones {
    border-radius: 0;
  }
}

.intro__inner {
  height: rem(650px);
  max-width: rem(660px);
  width: 70%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include tablets {
    width: 59%;
  }
  @include phones {
    width: 70%;
  }

}

.intro__name {
  font-size: rem(75px);
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: rem(35px);

  @include tablets {
    font-size: rem(50px);
  }
}

.intro__description {
  font-size: rem(30px);
  margin-bottom: rem(35px);

}