.location__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.location__title {
    font-size: rem(47px);
    width: 70%;
    text-align: center;
    margin-bottom: rem(30px);

    @include tablets{
        font-size: rem(40px);
    }
}

.location__subtitle {
    margin-bottom: rem(40px);
    width: 75%;
    text-align: center;
}

.location__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.location__item {
    // flex: 1;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    margin-right: rem(25px);
    margin-bottom: rem(40px);

    @include phones{
        margin-right: 0;
        margin-bottom: 15px;
    }

    &:nth-child(2n) {
        margin-right: 0;
    }


}


.location__description {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets {
        font-size: rem(16px);
    }
}



.location__image {
    max-width: 390px;
    max-height: 400px;
    width: 35vw;
    height: calc(35vw + 10px);

    @include phones{
        width: 50vw;
        height: calc(50vw + 10px);
    }
}


.location__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 70px 0 0;
}

.location__address {
    font-size: rem(18px);
}

.location__arrow-img{
    @include tablets{
        width: 50px;
        height: auto;
    }
}